<mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">

  <mat-step [stepControl]="testnetNameFormGroup">
    <form [formGroup]="testnetNameFormGroup">
      <ng-template matStepLabel>Testnet name</ng-template>

      <mat-form-field>
        <input matInput placeholder="Group name" formControlName="testnetNameCtrl">
      </mat-form-field>
      <div>
        <p>Note all nodes will be called with the groupname prefix and a number, eg: </p>
        <p><strong>{{testnetNameCtrl.value}}-1</strong></p>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="gitFormGroup">
    <form [formGroup]="gitFormGroup">
      <ng-template matStepLabel>Git Repo</ng-template>
      <mat-form-field>
        <input matInput placeholder="Git repo" formControlName="gitUrlCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>



  <mat-step [stepControl]="gitBranchGroup">
    <form [formGroup]="gitBranchGroup">
      <ng-template matStepLabel>Select Branch</ng-template>
      <mat-form-field>
        <input matInput placeholder="Git repo" formControlName="gitBranchCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Review</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
