<div class="list-wrapper">



  <mat-accordion>
    <mat-expansion-panel *ngFor="let model of dropletsData">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{model.name}}
        </mat-panel-title>
        <mat-panel-description>
          Last log: {{model.logs[1]}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="content">
        <div class="logging">
          Latest....
          <div *ngFor="let log of model.logs">
            {{log}}
          </div>
          Oldest....
        </div>

        <div>
          <h3>Server Controls</h3>

          <button (click)="onDeleteDropletHandler($event, model.initialData.id)"
                  mat-raised-button color="accent">Delete Server</button>

          <hr style="margin-bottom: 30px;">

          <div>
            <mat-input-container floatPlaceholder="auto">
              <input matInput
                     value="{{model.repoURL}}"
                     type="text"
                     placeholder="Repo URL">
            </mat-input-container>
          </div>
          <div>
            <mat-input-container floatPlaceholder="auto">
              <input matInput
                     type="text"
                     value="{{model.repoBranch}}"
                     placeholder="Repo Branch">
            </mat-input-container>
          </div>
          <button mat-raised-button>Update Server</button>
          <br><small>This restarts the server</small>
        </div>

      </div>

    </mat-expansion-panel>
  </mat-accordion>

</div>
